<!DOCTYPE html>
<html>
<head>
	<title>Insincere question classifier</title>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> 
</head>

<body>

	<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Logo</a>
  <a href="#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Team</a>
  <a href="#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Work</a>
  <a href="#questionclassifier" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Question Classifier</a>
 </div>

  
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#team" class="w3-bar-item w3-button">Team</a>
    <a href="#work" class="w3-bar-item w3-button">Work</a>
    <a href="#questionclassifier" class="w3-bar-item w3-button">Question Classifier</a>
  </div>
</div>


<div class="w3-display-container w3-animate-opacity">
  <div class="w3-container w3-display-bottomleft w3-margin-bottom">  
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal">Insincere Question Classifier</button>
  </div>
</div>


<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container"> 
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>Welcome to our Website..IQC</h4>
    </header>
    <div class="w3-container">
      <p>Cool huh? Ok, enough teasing around...</p>
    </div>
    <footer class="w3-container w3-teal">
      <p>Do check our Question Classifier</p>
    </footer>
  </div>
</div>




<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>OUR TEAM</h2>
<p>Meet the team - </p>

<div class="w3-row"><br>

<div class="w3-quarter">
 
  <h3>Dr.Anuradha Pillai</h3>
  <p>Supervisor</p>
</div>

<div class="w3-quarter">
 
  <h3>Pranav Mahajan</h3>
  
</div>

<div class="w3-quarter">
  <h3>Pulkit Dilaury</h3>
</div>

</div>
</div> 


<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">
<h2>Our Work</h2>
<p>Our website is all about classifying questions that are asked on social networking websites like quora , facebook, reddit etc. Our team has developed a platform where one could use our services to check whether the question asked is insincere or not. Our Project is based on Machine Learning Algorithms that predicts the level of insincerity in the questions.</p>

</div>

<!-- Container -->
<div class="w3-container" style="position:relative">
  <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
  style="position:absolute;top:-28px;right:24px">+</a>
</div>

	<div class="w3-row-padding w3-center w3-padding-64 w3-hover-shadow" id="questionclassifier">
    <h2>Question Classifier</h2><br>
    <form class="w3-container w3-card-4 w3-padding-16 w3-black w3-hover-shadow" action="{{ 	url_for('predict')    }} "  method="POST">
      <div class="w3-section">      
        <label>Enter the Question to Predict</label>
        <input class="w3-input" type="text" name="question">
        <input class="btn-info" type="submit" value="predict">
      </div>  
    </form>
    </div>


<br>
<br>

<div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="#"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>


<script>
// Script for side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

// Close side navigation
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
</body>
</html>